.swiper-container {
    width: 100%;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
}

.swiper-wrapper.ani {
    transition: transform .5s;
}

.swiper-slide {
    flex-shrink: 0;
}

.swiper-slide img {
    width: 100%;
}